.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s; }

.action-button {
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  color: #FFF;
  text-decoration: none; }

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
  color: grey; }

.action-button:hover {
  color: grey; }

.red {
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31; }
